@model DeductionEntry

@{
  ViewData["Title"] = "Edit an existing employee";
}

  <div class="row center-content">
    <div class="col-md-4">
      <h2>@ViewData["Title"]</h2>
      <form class="vertical-form" asp-action="UpdateDeductionEntry" asp-controller="Deduction" method="POST">
        <label asp-for="EmployeeName">Employee Name:</label>
        <input asp-for="EmployeeName" value="@Model.EmployeeName">
        <label asp-for="Dependents">Dependents:</label>
        <input asp-for="Dependents" value="@Model.Dependents">
        <input asp-for="Id" type="hidden">
        <input asp-for="UserId" type="hidden">
        <button class="update-button" type="submit">Update</button>
      </form> 
    </div>
</div>