body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

div.deduction-panel {
  margin-top: 15px;
}

/* ----- CUSTOM HEADER ----- */
.header-text {
  font-size: 40px;
}

/* ----- CUSTOM BODY TEXT ----- */
.info-text {
  font-size: 24px;
}

.body-text {
  margin: 10px;
}

/* ----- CUSTOM BUTTONS ----- */
.ghost-button {
  color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 150px;
  padding: 10px 20px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #cf6d17;
  color: #fff;
  text-decoration-line: none;
}

.edit-button {
  border-radius: 5%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.delete-button {
  border-radius: 5%;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* ---- GENERIC REUSABLE STYLES ----- */
.centered-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-margin-top {
  margin-top: 40px;
}

/* ---- HOME PAGE STYLING ---- */
#home-content {
  max-width: 75%;
  margin: auto;
}

/* ----- TABLE STYLING ----- */
.table-row td {
  font-size: 16px;
}
